*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular" ;
}
body{
  background-color: #ffffff;
}

@font-face {
  font-family: "Pretendard-Light";
  src: url("../public/font/Pretendard-Light.otf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Thin";
  src: url("../public/font/Pretendard-Thin.otf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("../public/font/Pretendard-Bold.otf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("../public/font/Pretendard-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("../public/font/Pretendard-Medium.otf") format("truetype");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("../public/font/Pretendard-SemiBold.otf") format("truetype");
}